.Music {
  background-color: #c48352;
  border: 3px solid black;
  margin: 150px 650px;
  padding: 30px 30px;
}

.music_album {
  color: whitesmoke;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 25px;
}

.music_artist {
  color: whitesmoke;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
}

#btn-submit {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #5f3c1f;
  color: white;
}

img {
  height: 200px;
  width: 200px;
} 