.Music {
  background-color: #c48352;
  margin: auto 500px;
}

.music_album {
  color: black;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 25px;
}

.music_artist {
  color: black;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 15px;
}

#btn-submit {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #5f3c1f;
  color: white;
}

.music_img {
  height: 200px;
  width: 200px;
  padding-top: 20px;
} 